<p>¡Hola! <%= @resource.email %>!</p>

<p>Solicitaste un link para el cambio de tu contraseña. Puedes hacerlo haciendo click en el siguiente link:</p>

<p><%= link_to 'Cambiar Mi Contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no solicitaste esta acción, por favor ignora este correo.</p>
<p>Tu contraseña no cambiará hasta que accedas al link anterior y crees una nueva.</p>
